<!DOCTYPE html>
<html>
	<head>
		{% if title %}
		<title>{{title}}Soft Eng</title>
		{% else %}
		<title> this is the else clause </title>
		{% endif %}
		<link rel="stylesheet" href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css') }}")>
		<script type="text/javascript" src="{{ url_for('static', filename='JQuery/jquery-1.10.1.js') }}"></script>
		<!-- this is for rating -->
		<script src="{{ url_for('static', filename='JQuery/star_rating/jquery.js')}}" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='JQuery/star_rating/jquery.MetaData.js')}}" type="text/javascript" language="javascript"></script>
 		<script src="{{ url_for('static', filename='JQuery/star_rating/jquery.rating.js')}}" type="text/javascript" language="javascript"></script>
 		<link href="{{ url_for('static', filename='JQuery/star_rating/jquery.rating.css')}}" type="text/css" rel="stylesheet"/>
 		<!-- end rating -->

		


	</head>
	<body>
		
		
  <nav class="navbar navbar-default" role="navigation" id="mainNav">
  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNav">
		      
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
	      </button>
		  <a href="{{ url_for('home') }}" class="navbar-brand">Book-Bay</a>
	  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse">
	    <ul class="nav navbar-nav">
	    
	      <li id="home"><a href="{{ url_for ('home') }}">Home</a></li>	
	    
	      {% if g.user.is_authenticated() %}
	      <li id="profile"><a href="{{ url_for('profile') }}">Profile</a></li>
	      <li id="sellBooks"><a href="{{ url_for('sell') }}">Sell Your Books</a></li>
	      <li id="logout"><a href="{{ url_for('logout') }}">Logout</a></li>
		  
	      {% else %}
	      <li id="signup"><a href="{{ url_for('signup') }}">Sign Up</a></li>
	      <li id="login"><a href="{{ url_for('login') }}">Login</a></li>
	      


	      {% endif %}

	      <li id="browseBooks"> <a href="{{ url_for('browse')}}">Browse Books </a> </li>


	      <form class="navbar-form navbar-left" role="search" name="bookSearchForm">
	      	<div class="form-group">
		        <input type="text" class="form-control" placeholder="Search Books">
	        </div>
	        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
	     </form>
	     
	     <form class="navbar-form navbar-left" role="search" name="userSearchForm">
	      	<div class="form-group">
		        <input type="text" class="form-control" placeholder="Search Users" method=GET name="user_search_field">
	        </div>
	        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
	     </form>

	     </ul>
	     {% if g.user.is_authenticated() %}
			 <h5 align="right"> Hello {{g.user.username}} | Balance:{{ g.user.credits }}$ | <a href="{{ url_for('logout') }}">Logout </a> </h5>
	     {% else %}
	     <h5 align="right"> Hello Guest | <a href="{{ url_for('login') }}">Login</a> </h5>    
		 {% endif %}
		</div><!-- /.navbar-collapse -->
	</nav>


	{% block content %}{% endblock %}



	<script>
	$(document).ready(function()
	{
			var loc = window.location;
			var pathName = loc.pathname.substring(0, loc.pathname.lastIndexOf('/') + 10);
			
			 if((pathName=='/home')||(pathName == '/'))
			 	$('#home').addClass('active');

			 if(pathName=='/signup')
			 	$('#signup').addClass('active');

			 if(pathName=='/login')
			 	$('#login').addClass('active');

			 if(pathName=='/profile')
			 	$('#profile').addClass('active');

			 if(pathName=='/sell')
			 	$('#sellBooks').addClass('active');

			 if (pathName =='/browse')
			 	$('#browseBooks	').addClass('active');

	});
			
	</script>
</body>

</html>
<!-- <div>BookBay:
			<ul class="nav nav-pills">
				<li class="active"><a href="{{ url_for('home') }}"<a><span class="glyphicon glyphicon-home">  Home</span></a></li>
			    <li> <a href="{{ url_for('profile') }}"<a>Profile</a> </li>
			    <li> <a href="{{ url_for('signup') }}"<a>Signup</a> </li>
			    <li> <a href="{{ url_for('login') }}"<a>Login</a> </li>
			    <li> <a href="{{ url_for('logout') }}"<a>Logout</a> </li>
			</ul>
			</div>
		<hr> -->
