{% extends "base.html" %}

{% block content %}

<style>
.images
{
	max-height: 20%;
}
.outer
{
	position: relative;
	float: left;
	width: 20%;
	display: inline-block;
	clear: both;
	margin-left: 30px;
	margin-bottom: 30px;
	
}
.outer2
{
	position: relative;
	float: left;
	width: 100%;
	display: inline-block;
	clear: both;
	margin-left: 30px;
	margin-bottom: 30px;
	
}



.inner
{
	display: inline-block;
	position: relative;
	float: left;
	width: 20%;
}
	

.inner2
{
	display: inline-block;
	position: relative;
	float: left;
	width: 20%;
}
</style>


	<div class="outer">
	
		<img class = "images" src= "{{ url_for('static',filename='userImages/'+book.get_image_name()) }}" alt="TEST">
		
	</div>
	<div class="inner">
		<label> Title: {{ book.get_title() }} </label><br>
		<label> Author: {{ book.get_author() }} </label><br>
		<label> Language: {{ book.get_language() }}</label><br>
		<label> Publisher: {{ book.get_publisher() }} </label><br>
		<label> Condition: {{ book.get_condition() }}</label><br>
	</div>

	<div class="inner2">
		<label> ISBN: {{book.get_isbn()}} </label><br>
		<label> Edition: {{book.get_edition() }}</label><br>
		{% if book.get_buyable() == True %}
			<label> Buy Now Price: {{book.get_buyout_price() }}</label> <br>
		{% endif %}
		<label> Book Type: {{ book.get_booktype() }}</label><br>
		<label> <Strong>Current Bid:</Strong> {{ book.get_current_bid() }} </label><br>
	</div>



<form class="navbar-form navbar-left" action= "{{ url_for('browse_book', book_id=book_id) }}" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    
		{{ form.csrf_token }}

    {{ form.bid_amount.label }}
    {{ form.bid_amount }}<br>
		</div>

    {{ form.submit_bid }}
	</form>

	<div class="outer2">
		<hr>
		{% for data in comments %}
		<p>{{ data.timestamp }} <strong> {{ data.commenter }}</strong> says: <strong>{{ data.comment }}</strong></p>
		{% endfor %}

		<h2> Post Book Comment</h2>
		<form class="navbar-form navbar-left" role="search" action= "{{ url_for('browse_book', book_id=book_id) }}" method="POST"  enctype="multipart/form-data">
		<div class="form-group">
		
			{{ form2.csrf_token }}

			{{ form2.post }}<br>
			</div>
			{{ form2.submit }}
			</form>
	</div>

{% endblock %}

<script>
$(document).ready(function(){
	$("#submit").clicked(function(){
		this.reset();
	});
});

</script>
