{% extends "base.html" %}
{% block content %}
<style>
.images
{
	max-height: 20%;
}
.outer
{
	position: relative;
	float: left;
	width: 20%;
	display: inline-block;
	clear: both;
	margin-left: 30px;
	margin-bottom: 30px;
	
	
}

.inner
{
	display: inline-block;
	position: relative;
	float: left;
	width: 20%;
}
	

.inner2
{
	display: inline-block;
	position: relative;
	float: left;
	width: 20%;
}
.inner3
{
	display: inline-block;
	position: relative;
	float: left;
	width: 20%;
}
</style>

{%for book in query %}
{%for user in user_query%}
	<h2>Complain on: {{book.get_title()}} by User: <a href="{{url_for('view_profile', user_id = user.id ) }}">{{user.get_username()}}</a></h2><br>
	<p>Your complain will be reported to site administrator.</p>


<br><br>
<hr>
		<label>Enter Complaint</label><br>
<hr>
<form method="POST">
{{form.message(rows = 7, cols = 50)}}
<br>
<br>
<input type="hidden" name="book_id" value="{{book.get_id()}}">	
{{form.submit}}
</form>



{% endfor%}
{% endfor%}
{% endblock %}

