
{% extends "base.html" %}
{% block content %}


{% if g.user.is_authenticated() %}
<p align='right'> last logged in {{ g.user.last_login }} </p>
	{% if g.user.is_superuser() == True %}
		<p> You are a <strong>Super User</strong> </p>
		<a href="{{url_for('transaction_history') }}"> Show Transactions History </a><br>
		<a href="{{url_for('bid_history') }}"> Show Bid History </a><br>
		<a href="{{url_for('get_all_users') }}"> Show All Users </a><br>
		<a href="{{url_for('home') }}"> Show All Messages(not working yet)</a><br>
	{% else %}
		<p> You are a <strong>Registered User</strong>.
		{% if g.user.is_approved() == False %}
		Your account has <strong>NOT</strong> been approved by an admin.
		{% else %}
		Your account has been approved by an admin.
		</p>
		click <a href="{{url_for('personal_profile', user_id = g.user.get_id() ) }}">Profile</a> to view personal statistics.<br>
		<a href="{{url_for('get_all_users') }}"> Show All Users </a><br>


		{% endif %}
		
	{% endif %}



{% else %}
<h2> You are not logged in </h2>
{% endif %}


{% endblock %}

