{% extends "base.html" %}
{% block content %}
<label>Personal Profile Page</label>
<br>
<label>Username:</label> {{user.username}}<br>
<label>First Name:</label> {{user.first_name}}<br>
<label>Last Name:</label> {{user.last_name}}<br>
{%if g.user.is_authenticated()%}
<label>Last login:</label> {{user.last_login}}<br>
<label>Number of bids:</label> {{user.num_bids}}<br>
<label>Rating:</label> {{user.rating}} <!-- <img src="{{ url_for('static', filename='img/star.gif')}}"><br> --><br>

{% endif %}

<hr>
<label> Books you are selling</label>
{% for book in book_user_selling %}
<p> 
Title:<strong> {{ book.get_title() }} </strong> <br>
Author:<strong> {{ book.get_author() }} </strong> <br>
Publisher: <strong>{{ book.get_publisher() }} </strong><br>
Language: <strong> {{ book.get_language() }}</strong><br>
Publisher: <strong>{{ book.get_publisher() }} </strong><br>
Condition: <strong>{{ book.get_condition() }}</strong><br>
Genre: <strong>{{ book.get_genre() }} </strong></p>
{% if book.get_highest_bid() %}
<p> Current Bid Price: <strong>{{book.get_current_bid()}} </strong> by user: <strong>{{ book.get_highest_bid().bidder.username }}</strong> <a href="{{ url_for('accept_highest_bid', book_id=book.id) }}">click here</a> to accept bid and sell</p>
{% endif %}


{% endfor %}

<hr>
<label>Comments Posted on your Profile</label>
{% for data in comments_recieved %}
<p>
	{{ data.timestamp }} <strong> {{ data.commenter }}</strong> said: <strong>{{ data.comment }}</strong>
</p>
{% endfor %}

<hr>
<label>Comments You Posted</label>
{% for data in comments_made %}
<p>
{{ data.timestamp }} <strong> You </strong> said: <strong>{{ data.comment }}</strong> to: <strong>{{data.commented}}</strong>
</p>
{% endfor %}


{% endblock %}
