{% extends "base.html" %}
{% block content %}
<label>Personal Profile Page</label>
<br>
<label>Username:</label> {{user.username}}<br>
<label>First Name:</label> {{user.first_name}}<br>
<label>Last Name:</label> {{user.last_name}}<br>
{%if g.user.is_authenticated()%}

<p>
Last login:<strong> {{user.last_login}}</strong> <br>
Number of bids: <strong> {{user.num_bids}} </strong> <br>
Number of books purchased: <strong> {{user.get_num_purch() }} </strong> <br>
Number of books sold: <strong> {{user.num_books_sold() }} </strong> <br>
Number of Book comments made: <strong> {{ user.num_book_comments_made() }} </strong> <br>
Number of User comments made: <strong> {{ user.num_user_comments_made() }} </strong> <br>
Number of User comments directed: <strong> {{ user.num_user_comments_directed() }} </strong> <br>
Rating: <strong> {{user.rating}} </strong><!-- <img src="{{ url_for('static', filename='img/star.gif')}}"><br> --></p>
<br>

{% endif %}

<hr>
<label> Books you are SELLING</label>
{% for book in book_user_selling %}
<p> 
Title:<strong> {{ book.get_title() }} </strong>
Author:<strong> {{ book.get_author() }} </strong>
Publisher: <strong>{{ book.get_publisher() }} </strong>
Language: <strong> {{ book.get_language() }}</strong><br>
Publisher: <strong>{{ book.get_publisher() }} </strong>
Condition: <strong>{{ book.get_condition() }}</strong>
Genre: <strong>{{ book.get_genre() }} </strong>
Current Bid <strong> {{ book.get_current_bid() }} </strong> <br>
{% if book.get_buyable() %}
Buyout Price: <strong>{{ book.get_buyout_price() }} </strong><br>
{% endif %}
Time Remaining: <strong> {{book.until_expire_in_mins() }} minutes</strong></p>
{% if book.get_highest_bid() %}
<p> Current Bid Price: <strong>{{ book.get_current_bid() }} </strong> by user: <strong>{{ book.get_highest_bid().bidder.username }}</strong> <a href="{{ url_for('accept_highest_bid', book_id=book.id) }}">click here</a> to accept bid and sell</p>
{% endif %}
{% endfor %}

<hr>
<label> Books you SOLD</label>

{% for data in transacs %}
  <p> Transaction Number: {{ data.id }} <strong> Transaction time: </strong> {{ data.time_sold }} <br>
  <strong>Seller:</strong> {{ data.seller.username }} <strong>Buyer:</strong> {{ data.buyer.username }}
  <strong>Book:</strong> {{ data.book.title }} <br>
  <strong> ISBN: </strong> {{ data.book.isbn }}
  <strong> Genre: </strong> {{ data.book.genre }}
  <strong> Rating: </strong> {{ data.book.rating }}

  </p>
  <p align="left"> <strong>Price Sold:</strong> {{ data.amt_sold_for }} </p>
  <br>
{% endfor %}


<hr>
<label>Comments Posted on your Profile</label>
{% for data in comments_recieved %}
<p>
	{{ data.timestamp }} <strong> {{ data.commenter }}</strong> said: <strong>{{ data.comment }}</strong>
</p>
{% endfor %}

<hr>
<label>Comments You Posted</label>
{% for data in comments_made %}
<p>
{{ data.timestamp }} <strong> You </strong> said: <strong>{{ data.comment }}</strong> to: <strong>{{data.commented}}</strong>
</p>
{% endfor %}


{% endblock %}
