{% extends "base.html" %}

{% block content %}
<style type="text/css">
label {
	width: 150px;
	float: left;;
	text-align: left;
}

input {
	width: 150px;
}

</style>
{%if g.user.is_authenticated() %}
<h2>Change Personal Details:</h2>
<form class="navbar-form navbar-left" role="search" action= "{{ url_for('changeDetails') }}" method="POST">
	<div class="form-group">
	    <label>Username:</label>
	    <input type="text" value="{{g.user.username}}" readonly="readonly" name="username"><br>
	    <label>Email Address:</label>
	    <input type="text" value="{{g.user.email}}" readonly="readonly"><br>

	    
		{{ form2.first_name.label}}
		{{ form2.first_name}}<br>

		{{ form2.last_name.label}}
		{{ form2.last_name}}<br>
	</div>
{{ form2.updateDatails }}
</form>
</br></br></br></br></br></br></br>


<h2>Change Password</h2>
<form class="navbar-form navbar-left" role="search" action="{{ url_for('changePass') }}" method="POST">
	<div class="form-group">
		{{ form1.hidden_tag() }}

		<input type="hidden" name="username" value="{{g.user.username}}">

		{{ form1.oldPassword.label}}
		{{ form1.oldPassword}}<br>

		{{ form1.newPassword.label}}
		{{ form1.newPassword}}<br>

		{{ form1.newPassword2.label}}
		{{ form1.newPassword2}}<br>
	</div>
		{{form1.submit}}
</form>

{% else %} <!-- public user details for read only -->
 
 <form class="navbar-form navbar-left" role="search" action= "{{ url_for('changeDetails') }}" method="POST">
	<div class="form-group">
	    <label>Username:</label>
	    <input type="text" value= "{{username}}" readonly="readonly" name="username"><br>
	    <label>First Name:</label>
	    <input type="text" value= "{{first_name}}" readonly="readonly"><br>
	    <label>Last Name:</label>
	    <input type="text" value="{{last_name}}" readonly="readonly"><br>
	</div>
</form>


{% endif %}

		




{% endblock %}