
{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<style>
.images
{
	max-height: 20%;
}
.outer
{
	position: relative;
	float: left;
	width: 20%;
	display: inline-block;
	clear: both;
	margin-left: 30px;
	margin-bottom: 30px;
	
	
}

.inner
{
	display: inline-block;
	position: relative;
	float: left;
	width: 20%;
}
	

.inner2
{
	display: inline-block;
	position: relative;
	float: left;
	width: 20%;
}
.inner3
{
	display: inline-block;
	position: relative;
	float: left;
	width: 20%;
}
</style>

{% for book in book_info %}
{% for user in user_info %}

<form method="POST" action="{{ url_for('submit_seller_rating') }}">
<label class="outer">Rate Book: {{book.get_title()}}</label>
<div>	
		<input name = "book" type = "radio" class="star" value="1"/>
		<input name = "book" type = "radio" class="star" value="2"/>
		<input name = "book" type = "radio" class="star" value="3"/>
		<input name = "book" type = "radio" class="star" value="4"/>
		<input name = "book" type = "radio" class="star" value="5"/>
	</div>


	<div>
<label class="outer">Rate Seller: {{user.get_username()}}</label>

	
		<input name = "user" type = "radio" class="star" value="1"/>
		<input name = "user" type = "radio" class="star" value="2"/>
		<input name = "user" type = "radio" class="star" value="3"/>
		<input name = "user" type = "radio" class="star" value="4"/>
		<input name = "user" type = "radio" class="star" value="5"/>
	</div>
<div class="outer">
<button type="submit">Submit Rating</button>
<p>*You have to rate the book and the seller in order to complete the transaction</p>
</div>
<!-- <input type="hidden" name ="book_rated" id="book_rate_amount"></input> -->
<input type="hidden" name ="book_id" value="{{book.get_id()}}"></input>
<input type="hidden" name ="user_id" value="{{user.get_id()}}"></input>
<!-- <input type="hidden" name ="user_rated" id="user_rate_amount"></input> -->
</form>
<br><br>
{% endfor %}
{% endfor %}
{% endblock %}

