
{% extends "base.html" %}
{% block content %}
<style>
.images
{
	max-height: 20%;
}
.outer
{
	position: relative;
	float: left;
	width: 20%;
	display: inline-block;
	clear: both;
	margin-left: 30px;
	margin-bottom: 30px;
	
	
}

.inner
{
	display: inline-block;
	position: relative;
	float: left;
	width: 20%;
}
	

.inner2
{
	display: inline-block;
	position: relative;
	float: left;
	width: 20%;
}
.inner3
{
	display: inline-block;
	position: relative;
	float: left;
	width: 20%;
}
</style>

{%for book in query %}
{%for user in user_query%}
	<h2>Rate {{book.get_title()}} by User: <a href="{{url_for('view_profile', user_id = user.id ) }}">{{user.get_username()}}</a></h2>


<br><br>


<script type="text/javascript">
$(function() {
	$("#submit_rate").click(function(){
	var selectedVal = "";
	var selected = $("input[type='radio'][name='star']:checked");
	if (selected.length > 0) {
    	selectedVal = selected.val();
		}
	document.getElementById("rate_amount").value = selectedVal;
 	});
});
</script>
	<div class = "outer">
		<img class = "images" src= "{{ url_for('static',filename='userImages/'+book.get_image_name()) }}" alt="TEST">
	</div>

	<form id = "rate_form" action = "{{ url_for('submit_rating') }}" method="POST">
	<div class="inner">		
		<input name = "star" type = "radio" class="star" value="1"/>
		<input name = "star" type = "radio" class="star" value="2"/>
		<input name = "star" type = "radio" class="star" value="3"/>
		<input name = "star" type = "radio" class="star" value="4"/>
		<input name = "star" type = "radio" class="star" value="5"/>
	</div>
		<input type="hidden" name ="rated" id="rate_amount"></input>
		<input type="hidden" name ="isbn_num" value="{{book.get_isbn()}}"></input>
		<div class="inner2">
		<button type = "submit" value ="Rate!" id = "submit_rate">Rate!</button>
		</div>
	</form>



{% endfor%}
{% endfor%}
{% endblock %}

