{% extends "base.html" %}

{% block content %}

<style>
.images
{
	max-height: 20%;
}
.outer
{
	position: relative;
	float: left;
	width: 20%;
	display: inline-block;
	clear: both;
	margin-left: 30px;
	margin-bottom: 30px;
	
	
}

.inner
{
	display: inline-block;
	position: relative;
	float: left;
	width: 20%;
}
	

.inner2
{
	display: inline-block;
	position: relative;
	float: left;
	width: 20%;
}
.inner3
{
	display: inline-block;
	position: relative;
	float: left;
	width: 20%;
}

.hr1 {
border: 0;
color: #9E9E9E;
background-color: #9E9E9E;
height: 1px;
width: 100%;
text-align: left;
}
</style>


	{% for i in query %}
	{% if i.is_sold() == False %}
	{% if i.is_suspended() == False %}
		{%set isbn_var = i.get_isbn() %}
	
	<div class="outer">
		<a href = "{{ url_for('browse') }}/{{i.get_id()}}"> <img class = "images" src= "{{ url_for('static',filename='userImages/'+i.get_image_name()) }}" alt="TEST"></a>	
	</div>

	<div class="inner">
		<label> Title: {{ i.get_title() }} </label><br>
		<label> Author: {{ i.get_author() }} </label><br>
		<label> Language: {{ i.get_language() }}</label><br>
		<label> Publisher: {{ i.get_publisher() }} </label><br>
		<label> Condition: {{ i.get_condition() }}</label><br>
	</div>

	<div class="inner2">
		<label> ISBN: {{i.get_isbn()}} </label><br>
		<label> Edition: {{i.get_edition() }}</label><br>
		{%if g.user.is_authenticated()%}
		<label> Price: {{ i.get_starting_bid()}} </label><br>
		{% if i.get_buyable() == True %}
			<label> Buy Now Price: {{i.get_buyout_price() }}</label> <br>
		{% endif %}
		{%else%}
		<label> Price: <a href="{{ url_for('login') }}">Log in</a> to see price</label><br>
		{%endif%}
		<label> Book Type: {{ i.get_booktype() }}</label><br>
	</div>
<div class="inner3">
		<input name = "isbn" type = "hidden" value = "{{isbn_var}}"> 
		<img src="{{ url_for('static',filename='img/star_small.gif')}}"><label id="avg_rating">{{i.get_avg_rating()}}</label><br>
		{% if g.user.is_authenticated() %}
		<label>Do you like this book? </label> <a href="{{url_for('rate_book') }}?isbn={{isbn_var}}"> Rate this Book</a><br>
		<label>Is this book ofensive? </label><a href="{{url_for('complain') }}?isbn={{isbn_var}}"> Report this Book</a>
		{%endif%}
		{% if g.user.is_anonymous() == False %}
			{% if g.user.is_superuser() == True %}
			<input type="hidden" name="suspend_source">
				<label>Delete this book </label><a href="{{url_for('remove_book', book_id =i.get_id() ) }}"> Delete this book </a>
				<label>Suspend this book</label><a href="{{url_for('suspend_book', book_id = i.get_id() ) }}?suspend_source=browse_page"> Suspend</a>
			<br>	
			{% endif %}
			{% endif %}
			{% endif %}
			{% endif %}
			<br>
	</div>
<div><hr class="hr1"></div>
	


	{% endfor %}






{% endblock %}