{% extends "base.html" %}
{% block content %}
<p>Serach Results for "{{results}}"</p>
{%if g.user.is_authenticated%}
<table>
<!-- <tr><td>Username</td></tr> -->
{%set i = 0%}
{%for user in query%}

<tr><td>{{user}}</td><td><div name = {{user}}>
							  <input name = "star{{i}}" type = "radio" class="star"/>
							  <input name = "star{{i}}" type = "radio" class="star"/>
							  <input name = "star{{i}}" type = "radio" class="star"/>
						      <input name = "star{{i}}" type = "radio" class="star"/>
						      <input name = "star{{i}}" type = "radio" class="star"/></div>
						      	</td>
						      </tr>
						      {%set i=i+1%}


{% endfor %}
</table>
{%endif%}
{% endblock %}