
{% extends "base.html" %}
{% block content %}

<style type="text/css">
label {
	width: 150px;
	
	text-align: left;
}

input {
	width: 180px;
}

</style>
<title>Sell Your Book</title>

<style>
#information{
	width: 300px;
	height: 100px;
}
</style>

</head>
<body>
<h1> Sell Your Book</h1>
<form class="navbar-form navbar-left" role="search" action= "{{ url_for('sell') }}" method="POST"  enctype="multipart/form-data">
	<div class="form-group">
		{{ form.csrf_token }}

		<input type="hidden" name="username" value="{{g.user.username}}">
		
		{{form.title.label}}
		{{form.title}}<br>
	

		{{form.author.label}}
		{{form.author}}<br>
		
		{{form.isbn.label}}
		{{form.isbn}}<br>

		{{form.price.label}}
		{{form.price}}<br>

		{{form.saleDuration.label}}
		{{form.saleDuration}}<br>

		{{form.publisher.label}}
		{{form.publisher}}<br>
		
		{{form.numOfPages.label}}
		{{form.numOfPages}}<br>
		
		{{form.lang.label}}
		{{form.lang}}<br>

		{{form.condition.label}}
		{{form.condition}}<br>

		{{form.genre.label}}
		{{form.genre}}<br>
		
		{{form.bookType.label}}
		{{form.bookType}}<br>
		
		{{form.edition.label}}
		{{form.edition}}<br>

		{{form.information.label}}
		{{form.information}}<br><br>

		{{form.buyable.label}}
		{{form.buyable}}<br>

		{{form.buynowPrice.label}}
		{{form.buynowPrice}}<br><br>


		
		
		<label>Image:</label>
		<input type="file" name="bookImage"><br><br>



		{{form.submit}}

	
	
</form>

<script type="text/javascript">
	$(document).ready(function(){
		document.getElementById("buynowPrice").disabled=true;

		//ENABLE AND DISABLE PRICE OF BUY NOW
		$('#buyable').change(function(){
			if (this.checked)
				document.getElementById("buynowPrice").disabled=false;
			else
				document.getElementById("buynowPrice").disabled=true;

		});
	});
</script>
{% endblock %}