<!DOCTYPE html>
<html>

<head>

<style type="text/css">
label {
	width: 100px;
	float: left;;
	text-align: left;
}

input {
	width: 150px;
}

</style>

<title>Sell Your Book</title>

</head>
<body>
<h1> Sell Your Book</h1>
<form name="sellBook" method="POST">
	<label>Title:</label>
	<input type="text" name="titleTB"></br>
	<label>Author:</label>
	<input type="text" name="authorTB"></br>
	<label>ISBN:</label>
	<input type="text" name="isbnTB"> </br>
	<!-- ADD FORMAT HARDCOVER/ SOFT COVER -->
	<!-- ADD IMAGE UPLOAD -->
	<label>Price:</label>
	<input type="text" name="priceTB"></br>
	<label>Sale Duration:</label>
	<input Publisher="text" name="titleTB">Days</br>
	<label>Title:</label>
	<input type="text" name="publisherTB"></br>
	<label>No. of Pages:</label>
	<input type="text" name="pagesTB"></br>
	<label>Language:</label>
	<input type="text" name="languageTB"></br>
</form>

</body>
</html>