{% extends "base.html" %}

{% block content %}
  <h2>Sign up</h2>
	
	{% for message in form.username.errors %}
		<div class="flash">{{ message }}</div>
	{% endfor %}

	{% for message in form.first_name.errors %}
		<div class="flash">{{ message }}</div>
	{% endfor %}

	{% for message in form.last_name.errors %}
		<div class="flash">{{ message }}</div>
	{% endfor %}

	{% for message in form.email.errors %}
		<div class="flash">{{ message }}</div>
	{% endfor %}


	<form class="navbar-form navbar-left" role="search" action="{{ url_for('signup') }}" method=post>
		<div class="form-group">
		{{ form.hidden_tag() }}

		{{ form.username.label}}
		{{ form.username}}<br>

		{{ form.first_name.label}}
		{{ form.first_name}}<br>

		{{ form.last_name.label }}
		{{ form.last_name}}<br>

		{{ form.email.label}}
		{{ form.email}}<br>

</div>
		{{ form.submit}}
	</form>

{% endblock %}

