{% extends "base.html" %}
{% block content %}

<script type="text/javascript">

	$(document).ready(function(){
		var rateAmount = ({{user.rating/user.num_of_rating}} * 2) / 2;

		$('input[type = radio]').rating('select',(rateAmount * 2)-1);
		$('input[type = radio]').rating('readOnly')
		
	});

</script>
<label>Public Profile</label>
<br>
<label>Username:</label> {{user.username}}<br>
<label>First Name:</label> {{user.first_name}}<br>
<label>Last Name:</label> {{user.last_name}}<br>
{% if g.user.is_authenticated() %}
<label>Last login:</label> {{user.last_login}}<br>
<label>Number of bids:</label> {{user.num_bids}}<br>
<label>Rating:</label> {{user.rating/user.num_of_rating}} <div>
		<input name = "rate" type = "radio" class="star {split:2}"/>
		<input name = "rate" type = "radio" class="star {split:2}"/>
		<input name = "rate" type = "radio" class="star {split:2}"/>
		<input name = "rate" type = "radio" class="star {split:2}"/>
		<input name = "rate" type = "radio" class="star {split:2}"/>
		<input name = "rate" type = "radio" class="star {split:2}"/>
		<input name = "rate" type = "radio" class="star {split:2}"/>
		<input name = "rate" type = "radio" class="star {split:2}"/>
		<input name = "rate" type = "radio" class="star {split:2}"/>
		<input name = "rate" type = "radio" class="star {split:2}"/>
</div>
<!-- <img src="{{ url_for('static', filename='img/star_small.gif')}}"> --><br>
<input type="hidden" name="rated_user">
<input type="hidden" name="complainee_id">
<a href="{{url_for('rate_transaction')}}?rated_user={{user.id}}">Rate This User</a><br>

<a href="{{url_for('complain_user') }}?complainee_id={{user.id}}">Report this User</a>
{%endif%}

<hr>
{% for data in comments %}
<p>
{{ data.timestamp }} {% if data.commenter.is_superuser() %} <strong style="color:red;"> {{ data.commenter }}</strong> {% else %} <strong> {{ data.commenter }}</strong>{% endif %} says: <strong>{{ data.comment }}</strong>
	</p>
	{% endfor %}

<h2> Post User Comment</h2>
<form class="navbar-form navbar-left" role="search" action= "{{ url_for('view_profile', user_id = user_id) }}" method="POST"  enctype="multipart/form-data">
	<div class="form-group">

	{{ form.csrf_token }}
	
	{{ form.post.label }}
	{{ form.post }}<br>
</div>

	{{ form.submit }}
</form>


{% endblock %}
