{% extends "base.html" %}
{% block content %}
<label>Public Profile</label>
<br>
<label>Username:</label> {{user.username}}<br>
<label>First Name:</label> {{user.first_name}}<br>
<label>Last Name:</label> {{user.last_name}}<br>
{% if g.user.is_authenticated() %}
<label>Last login:</label> {{user.last_login}}<br>
<label>Number of bids:</label> {{user.num_bids}}<br>
<label>Rating:</label> {{user.rating}} <img src="{{ url_for('static', filename='img/star_small.gif')}}"><br>
<input type="hidden" name="rated_user">
<!-- <input type="hidden" name="complainee_id">
<a href="{{url_for('rate_user') }}?rated_user={{user.id}}"></a> -->
<a href="{{url_for('complain_user') }}?complainee_id={{user.id}}">Report this User</a>
{%endif%}

<hr>
{% for data in comments %}
<p>
{{ data.timestamp }} {% if data.commenter.is_superuser() %} <strong style="color:red;"> {{ data.commenter }}</strong> {% else %} <strong> {{ data.commenter }}</strong>{% endif %} says: <strong>{{ data.comment }}</strong>
	</p>
	{% endfor %}

<h2> Post User Comment</h2>
<form class="navbar-form navbar-left" role="search" action= "{{ url_for('view_profile', user_id = user_id) }}" method="POST"  enctype="multipart/form-data">
	<div class="form-group">

	{{ form.csrf_token }}
	
	{{ form.post.label }}
	{{ form.post }}<br>
</div>

	{{ form.submit }}
</form>


{% endblock %}
